function Thirteen.score 0
push constant 4
return
function Thirteen.values 1
push constant 4
call Array.new 1
pop local 0
push constant 0
push local 0
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push local 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 2
push local 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 3
push local 0
add
push constant 3
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 0
return
function Thirteen.id 0
push constant 13
return
function Thirteen.draw 6
push argument 0
pop local 0
push argument 0
push constant 24
add
pop local 1
push argument 0
push constant 48
add
pop local 2
push argument 0
push constant 72
add
pop local 3
push argument 1
pop local 4
push argument 1
push constant 20
add
pop local 5
push local 0
push local 4
push local 0
push constant 20
add
push local 5
call Screen.drawRectangle 4
pop temp 0
push local 1
push local 4
push local 1
push constant 20
add
push local 5
call Screen.drawRectangle 4
pop temp 0
push local 2
push local 4
push local 2
push constant 20
add
push local 5
call Screen.drawRectangle 4
pop temp 0
push local 3
push local 4
push local 3
push constant 20
add
push local 5
call Screen.drawRectangle 4
pop temp 0
push constant 0
return
function Thirteen.small 6
push argument 0
push constant 26
sub
pop argument 0
push argument 1
push constant 5
sub
pop argument 1
push argument 0
pop local 0
push argument 0
push constant 14
add
pop local 1
push argument 0
push constant 28
add
pop local 2
push argument 0
push constant 42
add
pop local 3
push argument 1
pop local 4
push argument 1
push constant 10
add
pop local 5
push local 0
push local 4
push local 0
push constant 10
add
push local 5
call Screen.drawRectangle 4
pop temp 0
push local 1
push local 4
push local 1
push constant 10
add
push local 5
call Screen.drawRectangle 4
pop temp 0
push local 2
push local 4
push local 2
push constant 10
add
push local 5
call Screen.drawRectangle 4
pop temp 0
push local 3
push local 4
push local 3
push constant 10
add
push local 5
call Screen.drawRectangle 4
pop temp 0
push constant 0
return
function Thirteen.shape 0
push argument 0
push argument 1
call Blocks.shape_block 2
pop temp 0
push argument 0
push constant 24
add
push argument 1
call Blocks.shape_block 2
pop temp 0
push argument 0
push constant 48
add
push argument 1
call Blocks.shape_block 2
pop temp 0
push argument 0
push constant 72
add
push argument 1
call Blocks.shape_block 2
pop temp 0
push constant 0
return
function Thirteen.up 0
push constant 0
call Screen.setColor 1
pop temp 0
push argument 0
push argument 1
call Thirteen.shape 2
pop temp 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push argument 0
push argument 1
push constant 24
sub
call Thirteen.shape 2
pop temp 0
push constant 0
return
function Thirteen.down 0
push constant 0
call Screen.setColor 1
pop temp 0
push argument 0
push argument 1
call Thirteen.shape 2
pop temp 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push argument 0
push argument 1
push constant 24
add
call Thirteen.shape 2
pop temp 0
push constant 0
return
function Thirteen.left 0
push constant 0
call Screen.setColor 1
pop temp 0
push argument 0
push argument 1
call Thirteen.shape 2
pop temp 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push argument 0
push constant 24
sub
push argument 1
call Thirteen.shape 2
pop temp 0
push constant 0
return
function Thirteen.right 0
push constant 0
call Screen.setColor 1
pop temp 0
push argument 0
push argument 1
call Thirteen.shape 2
pop temp 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push argument 0
push constant 24
add
push argument 1
call Thirteen.shape 2
pop temp 0
push constant 0
return
function Thirteen.play 6
push constant 0
pop local 5
push argument 0
pop local 0
push argument 1
pop local 1
push local 0
push local 1
call Thirteen.shape 2
pop temp 0
push constant 0
pop local 4
label WHILE_EXP0
push local 4
not
not
if-goto WHILE_END0
label WHILE_EXP1
push local 2
push constant 0
eq
not
if-goto WHILE_END1
call Keyboard.keyPressed 0
pop local 2
goto WHILE_EXP1
label WHILE_END1
push local 2
pop local 3
label WHILE_EXP2
push local 2
push constant 0
eq
not
not
if-goto WHILE_END2
call Keyboard.keyPressed 0
pop local 2
goto WHILE_EXP2
label WHILE_END2
push local 3
push constant 133
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push local 1
push constant 14
add
push constant 200
lt
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push local 0
push local 1
call Thirteen.down 2
pop temp 0
push local 5
push constant 8
add
pop local 5
push local 1
push constant 24
add
pop local 1
label IF_FALSE1
label IF_FALSE0
push local 3
push constant 131
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push local 1
push constant 24
sub
push constant 14
gt
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push local 0
push local 1
call Thirteen.up 2
pop temp 0
push local 5
push constant 8
sub
pop local 5
push local 1
push constant 24
sub
pop local 1
label IF_FALSE3
label IF_FALSE2
push local 3
push constant 132
eq
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push local 0
push constant 52
add
push constant 160
lt
if-goto IF_TRUE5
goto IF_FALSE5
label IF_TRUE5
push local 0
push local 1
call Thirteen.right 2
pop temp 0
push local 5
push constant 1
add
pop local 5
push local 0
push constant 24
add
pop local 0
label IF_FALSE5
label IF_FALSE4
push local 3
push constant 130
eq
if-goto IF_TRUE6
goto IF_FALSE6
label IF_TRUE6
push local 0
push constant 24
sub
push constant 14
gt
if-goto IF_TRUE7
goto IF_FALSE7
label IF_TRUE7
push local 0
push local 1
call Thirteen.left 2
pop temp 0
push local 5
push constant 1
sub
pop local 5
push local 0
push constant 24
sub
pop local 0
label IF_FALSE7
label IF_FALSE6
push local 3
push constant 32
eq
if-goto IF_TRUE8
goto IF_FALSE8
label IF_TRUE8
call Thirteen.values 0
call Thirteen.score 0
push local 5
push argument 2
call Blocks.isDrawable 4
if-goto IF_TRUE9
goto IF_FALSE9
label IF_TRUE9
push local 0
push local 1
call Thirteen.draw 2
pop temp 0
push constant 0
call Screen.setColor 1
pop temp 0
push local 0
push local 1
call Thirteen.shape 2
pop temp 0
push constant 0
not
call Screen.setColor 1
pop temp 0
call Thirteen.values 0
call Thirteen.score 0
push local 5
push argument 2
call Blocks.gridDraw 4
pop argument 2
push constant 0
not
pop local 4
label IF_FALSE9
label IF_FALSE8
goto WHILE_EXP0
label WHILE_END0
push argument 2
return
